{% extends 'base.html' %}

{% block content %}
    <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
            <div class="flex justify-between items-center mb-6">
                <h2 class="card-title text-2xl">produtos</h2>
                <a href="{% url 'product-create' %}" class="btn btn-primary">novo produto</a>
            </div>
            <div class="overflow-x-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="bg-base-200">nome</th>
                            <th class="bg-base-200">sku</th>
                            <th class="bg-base-200">preço</th>
                            <th class="bg-base-200">estoque</th>
                            <th class="bg-base-200">ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                        <tr class="hover">
                            <td>{{ product.name }}</td>
                            <td>{{ product.sku }}</td>
                            <td>${{ product.price }}</td>
                            <td>{{ product.stock }}</td>
                            <td>
                                <div class="flex space-x-2">
                                    <a href="{% url 'product-update' product.pk %}" class="btn btn-sm btn-warning">editar</a>
                                    <button hx-get="{% url 'product-delete' product.pk %}"
                                            hx-target="#modal-container"
                                            hx-swap="innerhtml"
                                            class="btn btn-sm btn-error">
                                        deletar
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if is_paginated %}
            <div class="join flex justify-center mt-4">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="join-item btn btn-neutral">&laquo; primeira</a>
                    <a href="?page={{page_obj.previous_page_number}}" class="join-item btn btn-neutral">anterior</a>
                {% endif %}
                <button class="join-item btn btn-disabled">página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</button>
                {% if page_obj.has_next %}
                    <a href="?page={{page_obj.next_page_number}}" class="join-item btn btn-neutral">próxima</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="join-item btn btn-neutral">ultima &raquo;</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <div id="modal-container"></div>
{% endblock %}
