{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto my-6">
    <div class="flex justify-between items-center mb-4">
        <label class="input input-bordered w-full max-w-xs">
            <img src="{% static 'svg/search.svg' %}" alt="Buscar" class="w-4 h-4">
            <input 
                type="search"
                id="product-search-input"
                name="search"
                class="grow"
                placeholder="Buscar produtos por nome..."
                value="{{ request.GET.search|default:'' }}"
                hx-get="."
                hx-trigger="keyup changed delay:300ms, search"
                hx-target="#product-table-container"
                hx-swap="outerHTML"
                hx-indicator="#search-spinner"
                hx-push-url="true"
            >
        </label>
        <span id="search-spinner" class="htmx-indicator loading loading-spinner loading-sm"></span>
        <a href="{% url 'product-create' %}" class="btn btn-primary">
            Criar novo
        </a>
    </div>
    {% include 'partials/product_list_table.html' %}
</div>
{% endblock %}
