{% extends 'base.html' %}

{% block content %}
<div class="p-4 md:p-8">
    <div class="bg-base-200 shadow rounded-lg p-6 max-w-2xl mx-auto">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend class="text-xl font-bold mb-6">{{ is_create|yesno:"Novo,Editar" }} Produto</legend>
                {% for field in form %}
                <div class="mb-4 flex flex-col w-full gap-1">
                    <label class="label">
                        <span class="label-text text-sm">{{ field.label }}</span>
                    </label>
                    {{ field }}
                    {% if field.errors %}
                    <label class="label">
                        <span class="label-text-alt text-red-500">{{ field.errors|striptags }}</span>
                    </label>
                    {% endif %}
                </div>
                {% endfor %}
            </fieldset>
            <div class="flex justify-end space-x-2">
                <a href="{% url 'product-list' %}" class="btn btn-outline">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
