{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="p-4 md:p-8">
    <div class="max-w-2xl mx-auto">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend class="text-xl font-bold mb-6">{{ is_create|yesno:"Nova,Editar" }} Venda</legend>
                {{ form.non_field_errors }}
                {{ formset.management_form }}
                {% for form_item in formset %}
                <div class="mb-4 flex flex-col w-full gap-1 border-b pb-4">
                    {% for field in form_item.visible_fields %}
                    <label class="label">
                        <span class="label-text text-sm">{{ field.label }}</span>
                    </label>
                    {{ field }}
                    {% if field.errors %}
                    <label class="label">
                        <span class="label-text-alt text-red-500">{{ field.errors|striptags }}</span>
                    </label>
                    {% endif %}
                    {% endfor %}
                    {% if form_item.can_delete %}
                        <div>
                            {{ form_item.DELETE }} <span class="text-sm">Remover</span>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </fieldset>
            <div class="flex justify-end space-x-2">
                <a href="{% url 'sale-list' %}" class="btn btn-outline">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
