{% load static %}
<div id="product-table-container">
    <div class="overflow-x-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a
                            class="flex items-center gap-1"
                            href="{% if request.GET.ordering == '-name' %}?{% if current_page %}page={{ current_page }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% else %}?ordering={% if request.GET.ordering == 'name' %}-name{% else %}name{% endif %}{% if current_page %}&page={{ current_page }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% endif %}">
                            Nome
                            {% if request.GET.ordering == "name" %}
                                <img src="{% static 'svg/chevron-up.svg' %}" alt="Ordenar para cima" class="w-4 h-4 inline">
                            {% elif request.GET.ordering == "-name" %}
                                <img src="{% static 'svg/chevron-down.svg' %}" alt="Ordenar para baixo" class="w-4 h-4 inline">
                            {% endif %}
                        </a>
                    </th>
                    <th>SKU</th>
                    {% with request.GET.page as current_page %}
                    <th>
                        <a
                            class="flex items-center gap-1"
                            href="{% if request.GET.ordering == '-stock' %}?{% if current_page %}page={{ current_page }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% else %}?ordering={% if request.GET.ordering == 'stock' %}-stock{% else %}stock{% endif %}{% if current_page %}&page={{ current_page }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% endif %}">
                            Estoque
                            {% if request.GET.ordering == "stock" %}
                                <img src="{% static 'svg/chevron-up.svg' %}" alt="Ordenar para cima" class="w-4 h-4 inline">
                            {% elif request.GET.ordering == "-stock" %}
                                <img src="{% static 'svg/chevron-down.svg' %}" alt="Ordenar para baixo" class="w-4 h-4 inline">
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a class="flex items-center gap-1"
                            href="{% if request.GET.ordering == '-total_sold' %}?{% if current_page %}page={{ current_page }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% else %}?ordering={% if request.GET.ordering == 'total_sold' %}-total_sold{% else %}total_sold{% endif %}{% if current_page %}&page={{ current_page }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% endif %}"
                        >
                            Vendas
                            {% if request.GET.ordering == "total_sold" %}
                                <img src="{% static 'svg/chevron-up.svg' %}" alt="Ordenar para cima" class="w-4 h-4 inline">
                            {% elif request.GET.ordering == "-total_sold" %}
                                <img src="{% static 'svg/chevron-down.svg' %}" alt="Ordenar para baixo" class="w-4 h-4 inline">
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a
                            class="flex items-center gap-1"
                            href="{% if request.GET.ordering == '-price' %}?{% if current_page %}page={{ current_page }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% else %}?ordering={% if request.GET.ordering == 'price' %}-price{% else %}price{% endif %}{% if current_page %}&page={{ current_page }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% endif %}"
                        >
                            Preço unid.
                            {% if request.GET.ordering == "price" %}
                                <img src="{% static 'svg/chevron-up.svg' %}" alt="Ordenar para cima" class="w-4 h-4 inline">
                            {% elif request.GET.ordering == "-price" %}
                                <img src="{% static 'svg/chevron-down.svg' %}" alt="Ordenar para baixo" class="w-4 h-4 inline">
                            {% endif %}
                        </a>
                    </th>
                    <th>
                        <a
                            class="flex items-center gap-1"
                            href="{% if request.GET.ordering == '-total_revenue' %}?{% if current_page %}page={{ current_page }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% else %}?ordering={% if request.GET.ordering == 'total_revenue' %}-total_revenue{% else %}total_revenue{% endif %}{% if current_page %}&page={{ current_page }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% endif %}">
                            Receita Total
                            {% if request.GET.ordering == "total_revenue" %}
                                <img src="{% static 'svg/chevron-up.svg' %}" alt="Ordenar para cima" class="w-4 h-4 inline">
                            {% elif request.GET.ordering == "-total_revenue" %}
                                <img src="{% static 'svg/chevron-down.svg' %}" alt="Ordenar para baixo" class="w-4 h-4 inline">
                            {% endif %}
                        </a>
                    </th>
                    {% endwith %}
                    <th>Ativo</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td class="flex items-center gap-4">
                        {% if product.cover_image %}
                            <img src="{{ product.cover_image.url }}" alt="{{ product.name }}" class="w-12 h-12 object-cover rounded">
                        {% else %}
                            <img src="/media/placeholder.svg" alt="Placeholder" class="w-12 h-12 object-cover rounded">
                        {% endif %}
                        <a
                            class="text-sm font-semibold hover:underline"
                            href="{% url 'product-update' product.id %}"
                        >
                            {{ product.name }}
                        </a>
                    </td>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.total_sold }}</td>
                    <td>${{ product.price }}</td>
                    <td>${{ product.total_revenue|floatformat:2 }}</td>
                    <td>
                        {% if product.is_active %}
                            <span>
                                <img src="{% static 'svg/check.svg' %}" alt="Editar" class="w-5 h-5 inline">
                            </span>
                        {% else %}
                            <span>
                                <img src="{% static 'svg/x.svg' %}" alt="Editar" class="w-5 h-5 inline">
                            </span>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center">Nenhum produto encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex justify-center items-center gap-2 mt-4">
        <div class="flex items-center gap-2">
            <p class="text-sm whitespace-nowrap">Exibir por página</p>
            <select class="select select-sm rounded max-w-20" onchange="window.location.href=this.value">
                {% with sizes=request.GET.per_page|default:'10' %}
                <option value="?per_page=10{% if request.GET.ordering %}&ordering={{ request.GET.ordering }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                    {% if sizes == '10' %}selected{% endif %}>10</option>
                <option value="?per_page=25{% if request.GET.ordering %}&ordering={{ request.GET.ordering }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                    {% if sizes == '25' %}selected{% endif %}>25</option>
                <option value="?per_page=50{% if request.GET.ordering %}&ordering={{ request.GET.ordering }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                    {% if sizes == '50' %}selected{% endif %}>50</option>
                <option value="?per_page=100{% if request.GET.ordering %}&ordering={{ request.GET.ordering }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                    {% if sizes == '100' %}selected{% endif %}>100</option>
                {% endwith %}
            </select>
            <p class="text-sm whitespace-nowrap">
                {{ page_obj.start_index }}-{{ page_obj.end_index }} de {{ page_obj.paginator.count }}</p>
            <div class="join">
                <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% if request.GET.ordering %}&ordering={{ request.GET.ordering }}{% endif %}{% if request.GET.per_page %}&per_page={{ request.GET.per_page }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% else %}#{% endif %}"
                    class="join-item btn btn-sm btn-ghost {% if not page_obj.has_previous %}btn-disabled{% endif %}"><img src="{% static 'svg/chevron-left.svg' %}" alt="Página anterior" class="w-4 h-4"></a>
                <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% if request.GET.ordering %}&ordering={{ request.GET.ordering }}{% endif %}{% if request.GET.per_page %}&per_page={{ request.GET.per_page }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% else %}#{% endif %}"
                    class="join-item btn btn-sm btn-ghost {% if not page_obj.has_next %}btn-disabled{% endif %}"><img src="{% static 'svg/chevron-right.svg' %}" alt="Proxima página" class="w-4 h-4"></a>
            </div>
        </div>
    </div>
</div>
