<div
    class="mb-4 flex flex-col w-full pb-4 gap-1 relative sale-item-form"
    id="item-{{ form.prefix }}-form"
>
    <div class="flex items-center justify-between">
        <label class="label">
            <span class="label-text text-sm">Produto</span>
        </label>
        {% if can_delete %}
        <button
            type="button"
            class="btn btn-ghost btn-xs btn-circle"
            onclick="this.closest('.sale-item-form').remove()"
        >
            ✕
        </button>
        {% endif %}
    </div>
    <select
        title="Selecione um produto"
        name="{{ form.prefix }}-product"
        id="{{ form.product.id_for_label }}"
        class="select select-bordered w-full mb-2"
        onchange="updateStockLimit(this)"
        required
    >
        <option value="">---------</option>
        {% for product in product_list %}
        <option
            value="{{ product.id }}"
            data-stock="{{ product.stock }}"
            {% if form.product.value == product.id %}selected{% endif %}
        >
            {{ product.name }} - {{ product.stock }} em estoque
        </option>
        {% endfor %}
    </select>
    {% if form.product.errors %}
    <div class="text-red-500 text-xs">{{ form.product.errors }}</div>
    {% endif %}

    <label
        class="label"
        for="{{ form.quantity.id_for_label }}"
    >
        <span class="label-text text-sm">Quantidade</span>
    </label>
    <input
        type="number"
        placeholder="Quantidade"
        name="{{ form.prefix }}-quantity"
        id="{{ form.quantity.id_for_label }}"
        class="input input-bordered join-item w-24 text-center"
        min="1"
        value="{{ form.quantity.value|default:1 }}"
        required
    />
    {% if form.quantity.errors %}
    <div class="text-red-500 text-xs">{{ form.quantity.errors }}</div>
    {% endif %}

    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}

    {% if form.non_field_errors %}
    <div class="text-red-500 text-xs">{{ form.non_field_errors }}</div>
    {% endif %}
</div>

