{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Login - Stock Management{% endblock %}

{% block content %}
<div class="flex justify-center h-contain-header items-center">
    <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
            <h2 class="card-title justify-center text-2xl mb-4">Login</h2>
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                <div class="alert alert-error shadow-lg mb-4">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10 14l2-2m0 0l2-2m-2 2l-2 2m2-2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>{{ form.non_field_errors|striptags }}</span>
                    </div>
                </div>
                {% endif %}

                <div class="form-control w-full max-w-xs mb-2">
                    <label class="label" for="{{ form.username.id_for_label }}">
                        <span class="label-text">Username:</span>
                    </label>
                    {{ form.username|attr:"class:input input-bordered w-full max-w-xs" }}
                    {% if form.username.errors %}
                    <label class="label">
                        <span class="label-text-alt text-error">{{ form.username.errors|striptags }}</span>
                    </label>
                    {% endif %}
                </div>

                <div class="form-control w-full max-w-xs mb-4">
                    <label class="label" for="{{ form.password.id_for_label }}">
                        <span class="label-text">Password:</span>
                    </label>
                    {{ form.password|attr:"class:input input-bordered w-full max-w-xs" }}
                    {% if form.password.errors %}
                    <label class="label">
                        <span class="label-text-alt text-error">{{ form.password.errors|striptags }}</span>
                    </label>
                    {% endif %}
                </div>

                <div class="card-actions justify-center mt-6">
                    <button type="submit" class="btn btn-primary w-full max-w-xs">Login</button>
                </div>
            </form>
            <div class="text-center mt-4">
                <a href="{% url 'signup' %}" class="link link-hover">Need an account? <strong>Signup</strong></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
