@import "tailwindcss";
@source "../../templates/**/*.html";

@plugin "daisyui" {
    themes: lofi --default;
}

@plugin "daisyui/theme" {
    name: "lofi";
    default: true;
    --color-error: #f92a35;
    --color-error-content: #fff;
}

@theme {
    --height-header: 64;
    --height-contain-header: calc(100vh - 64px);
}

@layer base {
    html, body {
        font-family: 'Geist', 'Arial', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    }
}
